<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <title>Novelle Categorie</title>
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap.css}"/>

</head>
<body>
<div th:include="header.html"></div>
</br>
<div class="col-md-8 col-md-offset-2">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h2 class="panel-title text-center">Ajout et Update de Categorie</h2>
        </div>
        <div class="panel-body">
            <form th:object="${categorie}" th:action="@{/categorie/add}" method="POST"
                  class="form-horizontal">
                <input type="hidden" th:field="*{id}" class="form-control"/>

                <div class="form-group">
                    <label class="control-label col-md-2">Nom</label>
                    <div class="col-md-10">
                        <input type="text" th:field="*{nom}" class="form-control"/>
                        <span th:errors="*{nom}"></span>
                    </div>
                </div>
                <div class="text-center">
                    <input type="submit" value="Sauvegarder" class="btn btn-primary">
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>