<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <title>Clients-Fournisseurs</title>
    <th:block th:include="header.html"></th:block>
<div class="col-md-10 col-md-offset-1">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Prenom</th>
            <th>Nom</th>
            <th>Adresse</th>
            <th>Telephone</th>
            <th>Type Compte</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="personne : ${ personnes }">
            <td th:text="${ personne.prenom }"></td>
            <td th:text="${ personne.nom }"></td>
            <td th:text="${ personne.adresse }"></td>
            <td th:text="${ personne.telephone }"></td>
            <td th:text="${ personne.typeCompte }"></td>
            <td>
                <button class="btn btn-info">
                    <a th:href="@{/client-fournisseur/update(id=${personne.id})}"><span class="glyphicon glyphicon-pencil "></span></a>
                </button>
                <button class="btn btn-danger">
                    <a onclick="return confirm('Etes-vous sur?')"
                       th:href="@{/client-fournisseur/delete(id=${personne.id})}"><span class="glyphicon glyphicon-trash "></span></a>
                </button>
            </td>
        </tr>
        </tbody>
    </table>
    <ul class="pagination" th:if="${totalElements} > 8 ">
        <li th:classappend="${currentPage}==${status.index}?'active':''" th:each=" page, status:${pages}">
            <a th:href="@{/client-fournisseur/liste(page=${status.index})}" th:text="${status.index+1}"></a>
        </li>
    </ul>
</div>
</body>
</html>