<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <title>Erreur</title>
    <th:block th:replace="fragment/style.html"></th:block>

</head>
<body class="hold-transition sidebar-mini  layout-fixed layout-navbar-fixed ">
<div class="wrapper">
    <div th:replace="fragment/header"></div>

    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-8 offset-2 mt-5">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a th:href=@{/}>Home</a></li>
                            <li class="breadcrumb-item active">Erreur</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="error-page">
                <h2 class="headline text-warning" th:text="${status}"></h2>

                <div class="error-content">
                    <h3><i class="fas fa-exclamation-triangle text-warning"></i> Oops! </h3>

                    <p>
                        <span ></span>
                        Verifier la requete <a th:href=@{/}>Acceuil</a>
                    </p>
                    <i class="fas fa-exclamation-triangle fa-10x text-warning"> </i>
                    <!-- /.error-content -->
                </div>
            </div>
            <!-- /.error-page -->
        </section>
        <!-- /.content -->
    </div>

    <div th:replace="fragment/footer"></div>

</div>
</body>
<script th:replace="fragment/script"></script>
</html>