<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <a class="brand-link elevation-4" href="#">
        <i class="fas fa-cart-plus"></i> <span>  Gestion Boutique</span></a>
    <!-- Sidebar -->
    <div class="sidebar">
        <nav class="mt-3 mb-5">
            <ul class="nav nav-pills nav-sidebar flex-column" data-accordion="false" data-widget="treeview" role="menu">  <!-- Add icons to the links using the .nav-icon class
                     with font-awesome or any other icon font library -->

                <li class="nav-header" sec:authorize="hasAuthority('UTILISATEUR')">Gestion Produit</li>

                <li class="nav-item"  sec:authorize="hasAuthority('UTILISATEUR')">
                    <a class="nav-link" th:href="@{/}">
                        <i class="nav-icon far fa-circle"></i>
                        <p>Categorie
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/categorie/add}">
                                <i class="fas fa-plus-circle mx-4"></i>
                                <p>Nouveau</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/categorie/liste}">
                                <i class="fas fa-list mx-4"></i>
                                <p>Liste</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item" sec:authorize="hasAuthority('UTILISATEUR')">
                    <a class="nav-link" th:href="@{/}">
                        <i class="nav-icon far fa-circle"></i>
                        <p>Produit
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/produit/add}">
                                <i class="fas fa-plus-circle mx-4"></i>
                                <p>Nouveau</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/produit/liste}">
                                <i class="fas fa-list mx-4"></i>
                                <p>Liste</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-header" sec:authorize="hasAuthority('UTILISATEUR')">Gestion Stock</li>

                <li class="nav-item" sec:authorize="hasAuthority('UTILISATEUR')">
                    <a class="nav-link" th:href="@{/}">
                        <i class="nav-icon far fa-circle "></i>
                        <p>Magasin
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/magasin/add}">
                                <i class="fas fa-plus-circle mx-4"></i>
                                <p>Nouveau</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/magasin/liste}">
                                <i class="fas fa-list mx-4"></i>
                                <p>Liste</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item" sec:authorize="hasAuthority('UTILISATEUR')">
                    <a class="nav-link" th:href="@{/}">
                        <i class="nav-icon fas fa-store"></i>
                        <p>Stock
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/stock/add}">
                                <i class="fas fa-plus-circle mx-4"></i>
                                <p>Nouveau</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/stock/liste}">
                                <i class="fas fa-list mx-4"></i>
                                <p>Liste</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item" sec:authorize="hasAuthority('UTILISATEUR')">
                    <a class="nav-link" th:href="@{/}">
                        <i class="nav-icon far fa-circle"></i>
                        <p>Transfert Stock
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/transfert-stock/add}">
                                <i class="fas fa-plus-circle mx-4"></i>
                                <p>Nouveau</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/transfert-stock/liste}">
                                <i class="fas fa-list mx-4"></i>
                                <p>Liste</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-header" sec:authorize="hasAuthority('UTILISATEUR')">Gestion Entree/Sorties</li>
                <li class="nav-item" sec:authorize="hasAuthority('UTILISATEUR')">
                    <a class="nav-link" th:href="@{/}">
                        <i class="nav-icon far fa-circle"></i>
                        <p>Vente
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/vente/add}">
                                <i class="fas fa-plus-circle mx-4"></i>
                                <p>Nouveau</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/vente/liste}">
                                <i class="fas fa-list mx-4"></i>
                                <p>Liste</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item" sec:authorize="hasAuthority('UTILISATEUR')">
                    <a class="nav-link" th:href="@{/}">
                        <i class="nav-icon far fa-circle"></i>
                        <p>Approvision
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/approvision/add}">
                                <i class="fas fa-plus-circle mx-4"></i>
                                <p>Nouveau</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/approvision/liste}">
                                <i class="fas fa-list mx-4"></i>
                                <p>Liste</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item" sec:authorize="hasAuthority('UTILISATEUR')">
                    <a class="nav-link" th:href="@{/}">
                        <i class="nav-icon far fa-circle"></i>
                        <p>Retour Produit
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/retour-produit/add}">
                                <i class="fas fa-plus-circle mx-4"></i>
                                <p>Nouveau</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/retour-produit/liste}">
                                <i class="fas fa-list mx-4"></i>
                                <p>Liste</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-header" sec:authorize="hasAuthority('UTILISATEUR')">Gestion Depense/Dette</li>
                <li class="nav-item" sec:authorize="hasAuthority('UTILISATEUR')">
                    <a class="nav-link" th:href="@{/}">
                        <i class="nav-icon far fa-circle"></i>
                        <p>Depense
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/depense/liste}">
                                <i class="fas fa-list mx-4"></i>
                                <p>Liste</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item" sec:authorize="hasAuthority('UTILISATEUR')">
                    <a class="nav-link" th:href="@{/}">
                        <i class="nav-icon far fa-circle"></i>
                        <p>Dette
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/dette-client/liste}">
                                <i class="fas fa-list mx-4"></i>
                                <p>Liste</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-header" sec:authorize="hasAuthority('UTILISATEUR')">Gestion Utilisateur</li>

                <li class="nav-item" sec:authorize="hasAuthority('ADMINISTRATEUR')">
                    <a class="nav-link" th:href="@{/}">
                        <i class="nav-icon fas fa-user"></i>
                        <p>Utilisateur
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/utilisateur/add}">
                                <i class="fas fa-user-plus mx-4"></i>
                                <p>Nouveau</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/utilisateur/liste}">
                                <i class="fas fa-users mx-4"></i>
                                <p>Liste</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item" sec:authorize="hasAuthority('UTILISATEUR')">
                    <a class="nav-link" th:href="@{/}">
                        <i class="nav-icon far fa-user"></i>
                        <p>Client Fournisseur
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/client-fournisseur/add}">
                                <i class="fas fa-user-plus mx-4"></i>
                                <p>Nouveau</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/client-fournisseur/liste}">
                                <i class="fas fa-users mx-4"></i>
                                <p>Liste</p>
                            </a>
                        </li>
                    </ul>
                </li>

            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>