<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <title>Nouvelle Depense</title>
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap.css}"/>

</head>
<body>
<div th:include="header.html"></div>
</br>
<div class="col-md-8 col-md-offset-2">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h2 class="panel-title text-center">Ajout et Update de Depense</h2>
        </div>
        <div class="panel-body">
            <form th:object="${depense}" th:action="@{/depense/add}" method="POST"
                  class="form-horizontal">
                <input type="hidden" th:field="*{id}" class="form-control"/>

                <div class="form-group">
                    <label class="control-label col-md-2">Date</label>
                    <div class="col-md-10">
                        <input type="date" th:field="*{date}" class="form-control"/>
                        <span th:errors="*{date}"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">Libelle</label>
                    <div class="col-md-10">
                        <input type="text" th:field="*{libelle}" class="form-control"/>
                        <span th:errors="*{libelle}"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">Montant</label>
                    <div class="col-md-10">
                        <input type="number" th:field="*{montant}" class="form-control"/>
                        <span th:errors="*{montant}"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="sel3" class="control-label col-md-2">Utilisateur</label>
                    <div class="col-md-10">
                        <select class="form-control" id="sel3" th:field="*{user.id}">
                            <option th:each="user:${users}" th:value="${user.id}"
                                    th:text="${user.prenom}+' '+${user.nom}+' | '+ ${user.telephone}" ></option>
                        </select>
                    </div>
                </div>


                <div class="text-center">
                    <input type="submit" value="Sauvegarder" class="btn btn-primary">
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>