<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <style th:replace="fragment/style"></style>
    <title>Liste Depenses</title>
</head>
<body class="hold-transition sidebar-mini  layout-fixed layout-navbar-fixed ">
<div class="wrapper">
    <div th:replace="fragment/navbar-horizontal"></div>
    <div th:replace="fragment/navbar-vertical"></div>

    <div class="content-wrapper">

        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 my-2">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Liste Depenses</h3>
                                <div class="card-tools">
                                    <button class="btn btn-tool" data-card-widget="collapse" title="Collapse"
                                            type="button">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                    <button class="btn btn-tool" data-card-widget="remove" title="Remove"
                                            type="button">
                                        <i class="fas fa-times"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="card-body table-responsive p-0">
                                <table class="table table-sm table-hover text-nowrap table-striped">
        <thead>
        <tr>
            <th>Date</th>
            <th>Heure</th>
            <th>Libelle</th>
            <th>Montant</th>
            <th>Dette Client</th>
            <th>Utilisateur</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="depense : ${ depenses }">
            <td th:text="${#temporals.format(depense.date, 'dd MMM yyyy') }"></td>
            <td th:text="${ depense.Heure }"></td>
            <td th:text="${ depense.libelle }"></td>
            <td th:text="${ depense.montant }+' F CFA'"></td>
            <td>
                <i th:text="${#temporals.format(date, 'E dd MMM yyyy')}+ ' '+
                            ${#temporals.format(heure, 'HH mm ss')}+' '"
                   th:with="date=${depense.detteClient.date},
                   heure=${depense.detteClient.heure}"> </i>

               <b  th:text="${#numbers.formatInteger(totalVente,3,'POINT')}+
                ' F CFA'"th:with="totalVente=${depense.detteClient.montant}">
                </b>
            </td>
            <td th:text="${depense.user.prenom}+' '
                        +${depense.user.nom}"></td>
            <td sec:authorize="hasAuthority('ADMINISTRATEUR')">
                <button class="btn" th:attr="data-target='#modalSupp'+${depense.id}" data-toggle="modal" type="button">
                    <i class="fas fa-trash-alt text-danger" data-toggle="tooltip" title="Supprimer"></i></i>
                </button>
                <div class="modal fade" th:attr="id='modalSupp'+${depense.id}">
                    <div class="modal-dialog modal-md">
                        <div class="modal-content">
                            <div class="modal-header bg-danger">
                                <h4 class="modal-title ">Suppression</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>

                            <div class="modal-body">
                                <h1 class="text-center">Êtes-vous sûr ? </h1>
                            </div>
                            <div class="modal-footer">
                                <a class="btn btn-outline-danger" th:href="@{/depense/delete(id=${depense.id})}"></i> OUI</a>
                                <button type="button" class="btn btn-outline-info" data-dismiss="modal">Non</button>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
            </td>
        </tr>
        </tbody>
                                </table>
                            </div>
                            <!--
                                Pagination:
                                    On affiche une liste inline si le nombre de page <=3

                            -->
                            <div class="card-tools">
                                <ul class="pagination pagination-sm float-left ml-5">
                                    <span th:text="'Vous avez '+${totalElement}+' Depense.s'"></span>
                                </ul>
                                <ul class="pagination pagination-sm float-right" th:if="${totalElement}>6">

                                    <th:block th:if="${nbTotalPage}<=3">
                                        <li class="page-item" th:classappend="${currentPage}==0?'disabled'">
                                            <a class="page-link"
                                               th:href="@{/depense/liste(page=${currentPage-1})}">&laquo;</a></li>

                                        <li class="page-item"
                                            th:classappend="${currentPage}==${status.index}?'active':''"
                                            th:each="page, status : ${totalPage}">
                                            <a class="page-link" th:href="@{/depense/liste(page=${status.index})}"
                                               th:text="${status.index+1}"></a>
                                        </li>
                                        <li class="page-item"
                                            th:classappend="${currentPage}==${nbTotalPage-1}?'disabled'">
                                            <a class="page-link"
                                               th:href="@{/depense/liste(page=${currentPage+1})}">&raquo;</a></li>

                                    </th:block>

                                    <th:block th:if="${nbTotalPage}>3">
                                        <li class="page-item"
                                            th:classappend="${currentPage}==${nbTotalPage-nbTotalPage}?'disabled':''">
                                            <a class="page-link"
                                               th:href="@{/depense/liste(page=${currentPage-1})}">&laquo;</a></li>

                                        <li class="page-item"
                                            th:classappend="${currentPage}==${nbTotalPage-nbTotalPage}?'active':''">
                                            <a class="page-link" th:href="@{/depense/liste(page=0)}"
                                               th:text="1"></a>
                                        </li>
                                        <li class="page-item"
                                            th:classappend="${currentPage}==${nbTotalPage-nbTotalPage+1}?'active':''">
                                            <a class="page-link" th:href="@{/depense/liste(page=1)}"
                                               th:text="2"></a>
                                        </li>
                                        <li class="page-item" th:if="${nbTotalPage}>5">
                                            <a class="page-link" th:text="..."></a>
                                        </li>


                                        <li class="page-item"
                                            th:classappend="${currentPage}==${nbTotalPage-2}?'active':''"
                                            th:if="${nbTotalPage}>4">
                                            <a class="page-link" th:href="@{/depense/liste(page=${nbTotalPage-2})}"
                                               th:text="${nbTotalPage-2}"></a>
                                        </li>

                                        <li class="page-item"
                                            th:classappend="${currentPage}==${nbTotalPage-1}?'active':''">
                                            <a class="page-link" th:href="@{/depense/liste(page=${nbTotalPage-1})}"
                                               th:text="${nbTotalPage-1}"></a>
                                        </li>
                                        <li class="page-item"
                                            th:classappend="${currentPage}==${nbTotalPage-1}?'disabled'">
                                            <a class="page-link"
                                               th:href="@{/depense/liste(page=${currentPage+1})}">&raquo;</a></li>

                                    </th:block>
                                </ul>
                            </div>                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                </div>
            </div>
        </section>

    </div>

    <div th:replace="fragment/footer"></div>
</div>
</body>
<script th:replace="fragment/script"></script>
</html>