<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <title>Nouvel Utilisateur</title>
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap.css}"/>

</head>
<body>
<div th:include="header.html"></div>
</br>
<div class="col-md-8 col-md-offset-2">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h2 class="panel-title text-center">Ajout et Update de Utilisateur</h2>
        </div>
        <div class="panel-body">
            <form th:object="${user}" th:action="@{/user/add}" method="POST"
                  class="form-horizontal">

                <input type="hidden" th:field="*{id}" class="form-control"/>

                <div class="form-group">
                    <label class="control-label col-md-2">Nom</label>
                    <div class="col-md-10">
                        <input type="text" th:field="*{nom}" class="form-control"/>
                        <span th:errors="*{nom}"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">Prenom</label>
                    <div class="col-md-10">
                        <input type="text" th:field="*{prenom}" class="form-control"/>
                        <span th:errors="*{prenom}"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">Adresse</label>
                    <div class="col-md-10">
                        <input type="text" th:field="*{adresse}" class="form-control"/>
                        <span th:errors="*{adresse}"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">Telephone</label>
                    <div class="col-md-10">
                        <input type="text" th:field="*{telephone}" class="form-control"/>
                        <span th:errors="*{telephone}"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">Login</label>
                    <div class="col-md-10">
                        <input type="text" th:field="*{login}" class="form-control"/>
                        <span th:errors="*{login}"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">Password</label>
                    <div class="col-md-10">
                        <input type="password" th:field="*{password}" class="form-control"/>
                        <span th:errors="*{password}"></span>
                    </div>
                </div>

                <input type="hidden" th:field="*{roles}" th:value="${userRoles}" class="form-control"/>

                <div class="text-center">
                    <input type="submit" value="Sauvegarder" class="btn btn-primary">
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>