<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <title>Nouvelle Approvission</title>
</head>
<body>
<div th:include="header.html"></div>
</br>
<div class="col-md-8 col-md-offset-2">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h2 class="panel-title text-center">Ajout et Update de Approvission</h2></div>
        <div class="panel-body">
            <form class="form-horizontal" method="POST" th:action="@{/approvission/add}"
                  th:object="${approvission}">
                <input class="form-control" th:field="*{id}" type="hidden"/>

                <div class="form-group">
                    <label class="control-label col-md-2">Date</label>
                    <div class="col-md-10">
                        <input class="form-control" th:field="*{date}" type="date"/>
                        <span th:errors="*{date}"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">Quantite</label>
                    <div class="col-md-10">
                        <input class="form-control" th:field="*{quantite}" type="number"/>
                        <span th:errors="*{date}"></span>
                    </div>
                </div>


                <div class="form-group">
                    <label class="control-label col-md-2" for="sel6">Statut</label>
                    <div class="col-md-10">
                        <select class="form-control" id="sel6" th:field="*{statutApprovission}">
                            <option th:text="NON_REGLER" th:value="NON_REGLER"></option>
                            <option th:text="REGLER" th:value="REGLER"></option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">Montant Total</label>
                    <div class="col-md-10">
                        <input class="form-control" th:field="*{montantTotal}" type="number"/>
                        <span th:errors="*{montantTotal}"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">Montant Payé</label>
                    <div class="col-md-10">
                        <input class="form-control" th:field="*{montantPaye}" type="number"/>
                        <span th:errors="*{montantTotal}"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">Montant Restant</label>
                    <div class="col-md-10">
                        <input class="form-control" th:field="*{montantRestant}" type="number"/>
                        <span th:errors="*{montantTotal}"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2" for="sel2">Fournisseur</label>
                    <div class="col-md-10">
                        <select class="form-control" id="sel2" th:field="*{personne.id}">
                            <option th:each="person:${personnes}"
                                    th:if="${person.typeCompte == 'FOURNISSEUR'}"
                                    th:text="${person.prenom}+' '+${person.nom}+' | '+ ${person.telephone}"
                                    th:value="${person.id}"></option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2" for="sel5">Produits</label>
                    <div class="col-md-10">

                        <button type="button" class="btn btn" data-toggle="modal" data-target="#myModal">
                           Ajouter des produit
                        </button>
                        <div id="myModal" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Ajout de Produit</h4>
                                    </div>
                                    <div class="modal-body">
                                        <select class="form-control" id="sel5" th:field="*{produits}">
                                            <option th:each="produit:${produits}"
                                                    th:text="${produit.categorie.nom}+' '+${produit.nom}"
                                                    th:value="${produit.id}"></option>
                                        </select>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2" for="sel3">Utilisateur</label>
                    <div class="col-md-10">
                        <select class="form-control" id="sel3" th:field="*{user.id}">
                            <option th:each="user:${users}"
                                    th:text="${user.prenom}+' '+${user.nom}+' | '+ ${user.telephone}"
                                    th:value="${user.id}"></option>
                        </select>
                    </div>
                </div>

                <div class="text-center">
                    <input class="btn btn-primary" type="submit" value="Sauvegarder">
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>