<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <title>Systeme Gestion Boutique</title>
    <th:block th:replace="fragment/style.html"></th:block>

</head>
<body class="hold-transition sidebar-mini  layout-fixed layout-navbar-fixed ">
<div class="wrapper">
    <div th:replace="fragment/header"></div>

    <div class="content-wrapper">

        <section class="content">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-lg-6 mt-2">
                        <div class="info-box">
                            <span class="info-box-icon bg-info elevation-1">
                                <i class="fas fa-shopping-cart"></i>
                            </span>
                            <div class="info-box-content">
                                <span class="info-box-text">Nombre de Vente du jour</span>
                                <em class="info-box-number" th:text="${nbreProduit}+' Produits Vendus'"></em>
                                <!-- Modal-->

                                <button class="btn" data-target="#modalVente" data-toggle="modal" type="button">
                                    <i class="fas fa-list-alt text-info"> Produits</i>
                                </button>

                                <div th:replace="vente/ioProdVenteModal.html"></div>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>
                    <!-- /.col -->
                    <div class="col-lg-6 mt-2">
                        <div class="info-box mb-3">
                            <span class="info-box-icon bg-success elevation-1"><i
                                    class="fas fa-money-bill-alt"></i></span>
                            <div class="info-box-content">
                                <i class="info-box-text">Total Vente <b
                                        th:text="${#dates.format(#dates.createNow(), 'E dd MMM yyyy')}"></b></i>
                                <i class="info-box-number"
                                   th:text="${#numbers.formatInteger(totalVente,3,'POINT')}+' F CFA'"
                                   th:with="totalVente=${totalVente}"></i>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>
                </div>

                <div class="row">

                    <div class="col-lg-6">
                        <div class="card card-info">
                            <div class="card-header">
                                <h3 class="card-title">Ventes par Intervalle de Date</h3>
                                <div class="card-tools">
                                    <button class="btn btn-tool" data-card-widget="collapse" title="Collapse"
                                            type="button">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                    <button class="btn btn-tool" data-card-widget="remove" title="Remove"
                                            type="button">
                                        <i class="fas fa-times"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="card-body">
                                <form class="navbar-form navbar-right" method="GET"
                                      th:action="@{/details}">
                                    <div class="form-group">
                                        <i class="mr-4">Du</i>
                                        <input class="form-control-sm" name="date1"
                                               required type="date">
                                        <i class="ml-2 mr-4">Au</i>
                                        <input class="form-control-sm"
                                               name="date2"
                                               required type="date">
                                        <button class="btn btn-sm btn-default ml-3" type="submit">
                                            <i class="fas fa-search"></i>
                                        </button>
                                    </div>
                                </form>
                            </div>

                            <div class="card-footer text-center" th:if="${dateDebut} and ${dateFin}">
                                <h4 th:text="${#temporals.format(dateDebut, 'dd MMM yyyy') }+' - '+${#temporals.format(dateFin, 'dd MMM yyyy') }"></h4>
                                <b class="mr-5">Total: <i class="info-box-number text-success "
                                                          th:text="${#numbers.formatInteger(totalVente,3,'POINT')}+' F CFA'"
                                                          th:with="totalVente=${totalVenteBetween}"></i></b>
                                <b>Nombre de produits: <i class="info-box-number"
                                                          th:text="${nbreProduitBetween}"></i></b>
                                <button class="btn" data-target="#modalVenteBetween" data-toggle="modal" type="button">
                                    <i class="fas fa-list-alt text-info"> Produits</i>
                                </button>

                                <div th:replace="vente/ioProdVenteBetweenModal.html"></div>

                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>

                    <div class="col-lg-6">
                        <div class="card card-danger">
                            <div class="card-header">
                                <h3 class="card-title">Produits en Rupture de Stock</h3>
                                <div class="card-tools">
                                    <button class="btn btn-tool" data-card-widget="collapse" title="Collapse"
                                            type="button">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                    <button class="btn btn-tool" data-card-widget="remove" title="Remove"
                                            type="button">
                                        <i class="fas fa-times"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="card-body scroll pt-1">
                                <th:block th:each="stock : ${stocks}">
                                    <span class="text-danger"
                                          th:text="${stock.produit.categorie.nom}+' '+${stock.produit.nom}">
                                    </span> <b class="text-danger" th:text="' : '+${stock.quantite}"></b>
                                    <i class="text-danger" th:text="' restants à '+${stock.magasin.nom}+' '
                                    +${stock.magasin.adresse}"></i>

                                    <br/>
                                </th:block>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                </div>

                <div class="row ">
                    <!-- ./Histogramme -->
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header border-0">
                                <div class="d-flex justify-content-between">
                                    <h3 class="card-title">Sales</h3>
                                    <a href="javascript:void(0);">View Report</a>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="d-flex">
                                    <p class="d-flex flex-column">
                                        <span class="text-bold text-lg">$18,230.00</span>
                                        <span>Sales Over Time</span>
                                    </p>
                                    <p class="ml-auto d-flex flex-column text-right">
                                        <span class="text-success">
                                          <i class="fas fa-arrow-up"></i> 33.1%
                                        </span> <span class="text-muted">Since last month</span>
                                    </p>
                                </div>
                                <!-- /.d-flex -->

                                <div class="position-relative mb-4">
                                    <canvas height="200" id="sales-chart"></canvas>
                                </div>

                                <div class="d-flex flex-row justify-content-end">
                                  <span class="mr-2">
                                    <i class="fas fa-square text-primary"></i> This year
                                  </span>
                                    <span> <i class="fas fa-square text-gray"></i> Last year </span>
                                </div>
                            </div>
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- ./col -->
                </div>


            </div>
        </section>
    </div>

    <div th:replace="fragment/footer"></div>

</div>
</body>
<script th:replace="fragment/script"></script>
</html>