<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" xmlns:th="www.thymeleaf.org">
<head>
    <title>Authentification </title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" type="text/css"/>
</head>
<body>
</br></br></br>
<div class="col-md-4 col-md-offset-4">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h2 class="panel-title text-center   margin-top:25px">Authentification Utilisateur</h2>
        </div>
        <div class="panel-body">
            <form class="form-horizontal" method="POST"
                  th:action="@{/login}">
                <fieldset>
                    <legend class="text-danger text-center" th:if="${param.error}">Invalide+ Login et/ou Password !
                    </legend>
                    <div class="form-group">
                        <label class="control-label col-md-2">Login</label>
                        <div class="col-md-10">
                            <input autofocus class="form-control" id="username" name="username"
                                   placeholder="Entre votre login"
                                   required type="text"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Password</label>
                        <div class="col-md-10">
                            <input class="form-control" id="password" name="password"
                                   placeholder="Entre votre mot de passe"
                                   type="password"/>
                        </div>
                    </div>
                    <div class="text-center">
                        <input class="btn btn-success" type="submit" value="Se connecter">
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>


</body>
</html>