<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <title>Nouveau Magasin</title>
    <th:block th:include="header.html"></th:block>
</br>
<div class="col-md-8 col-md-offset-2">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h2 class="panel-title text-center">Ajout et Update de Magasin</h2>
        </div>
        <div class="panel-body">
            <form class="form-horizontal" method="POST" th:action="@{/magasin/add}"
                  th:object="${magasin}">
                <input class="form-control" th:field="*{id}" type="hidden"/>

                <div class="form-group">
                    <label class="control-label col-md-2">Nom</label>
                    <div class="col-md-10">
                        <input class="form-control" th:field="*{nom}" type="text"/>
                        <span class="text-danger" th:errors="*{nom}"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">Adresse</label>
                    <div class="col-md-10">
                        <input class="form-control" th:field="*{adresse}" type="text"/>
                        <span class="text-danger" th:errors="*{adresse}"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">Telephone</label>
                    <div class="col-md-10">
                        <input class="form-control" th:field="*{telephone}" type="text"/>
                        <span class="text-danger" th:errors="*{telephone}"></span>
                    </div>
                </div>
                <div class="text-center">
                    <button class="btn btn-primary"><span class="glyphicon glyphicon-save"></span> Sauvegarder</button>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>