<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <title>Changer de Password</title>
    <th:block th:include="header.html"></th:block>
</br>
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h2 class="panel-title text-center">Modification de Password</h2>
                </div>

                <form class="form-horizontal" method="POST" th:action="@{/user/password}"
                      th:object="${changePassword}">

                    <div class="panel-body">

                        <div class="form-group">
                            <label class="control-label col-md-2">Ancien Password</label>
                            <div class="col-md-10">
                                <input class="form-control" th:field="*{oldPassword}" type="password" required/>
                                <span class="text-danger" th:errors="*{oldPassword}"></span>

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">Nouveau Password</label>
                            <div class="col-md-10">
                                <input class="form-control" th:field="*{newPassword}" type="password" required/>
                                <span class="text-danger" th:errors="*{newPassword}"></span>

                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">Confirmation</label>
                            <div class="col-md-10">
                                <input class="form-control" th:field="*{confirmation}" type="password" required/>
                                <span class="text-danger" th:errors="*{confirmation}"></span>

                            </div>
                        </div>


                    </div>

                    <div class="panel-footer">
                        <div class="text-center">
                            <button class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span> Modifier
                            </button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>

</body>
</html>