<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <title>Nouveau Vente</title>
    <th:block th:replace="fragment/style.html"></th:block>

</head>
<body class="hold-transition sidebar-mini  layout-fixed layout-navbar-fixed ">
<div class="wrapper">
    <div th:replace="fragment/header"></div>

    <div class="content-wrapper">

        <!--Formulaire-->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 my-4">

                        <div class="card card-info">
                            <div class="card-header">
                                <h3 class="card-title">Nouveau Vente</h3>
                            </div>
                            <form class="form-horizontal" method="POST" th:action="@{/vente/add}"
                                  th:object="${vente}">
                                <div class="card-body">
                                    <input th:field="*{id}" type="hidden"/>

                                    <div class="form-group row">
                                        <label class="control-label col-md-2">Produits</label>
                                        <div class="col-md-10">
                                            <div class="panel panel-info">
                                                <div class="panel-body">
                                                    <table class="table table-striped">
                                                        <thead>
                                                        <tr>
                                                            <th>Produit</th>
                                                            <th>Quantite
                                                                <input class="btn btn-xs btn-info ml-5" id="addBtnVente"
                                                                       type="button" value="Nouveau">
                                                            </th>

                                                        </tr>
                                                        </thead>
                                                        <tbody id="tbody">
                                                        <tr>
                                                            <td><input class="form-control"
                                                                       name="io_produits[0].produit.codeBarre1"
                                                                       placeholder="Sacnner le produit" required
                                                                       type="text" autofocus/>
                                                            </td>
                                                            <td><input class="form-control"
                                                                       name="io_produits[0].quantite"
                                                                       placeholder="Entrer la quantite" required
                                                                       type="number"/></td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="control-label col-md-2">Remise</label>
                                        <div class="col-md-10">
                                            <input class="form-control" th:field="*{remise}" type="number"/>
                                            <span class="text-danger" th:errors="*{remise}"></span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="control-label col-md-2" for="sel1">Type</label>
                                        <div class="col-md-10">
                                            <select class="form-control select2bs4" id="sel1" th:field="*{typeVente}">
                                                <option th:text="DETAILS" th:value="DETAILS"></option>
                                                <option th:text="ENGROS" th:value="ENGROS"></option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="control-label col-md-2">Magasin</label>
                                        <div class="col-md-10">
                                            <select class="form-control select2bs4" th:field="*{magasin.id}">
                                                <option th:each="magasin:${magasins}"
                                                        th:text="${magasin.nom}+' '+${magasin.adresse}"
                                                        th:value="${magasin.id}"></option>
                                            </select>
                                        </div>
                                    </div>

                                    <input name="user.id" th:value="${userId}" type="hidden"/>

                                </div>
                                <div class="card-footer text-center">
                                    <button class="btn btn-info" type="submit"><i class="fas fa-save"></i> Enregistre</button>
                                    <button class="btn btn-outline-danger" type="button"><i
                                            class="fa fa-cancel"></i> <a th:href="@{/}">Annuler</a>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div th:replace="fragment/footer"></div>

</div>
</body>
<script th:replace="fragment/script"></script>
</html>