<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <title>Nouveau Vente</title>
    <th:block th:replace="fragment/style.html"></th:block>

</head>
<body class="hold-transition sidebar-mini  layout-fixed layout-navbar-fixed ">
<div class="wrapper">
    <div th:replace="fragment/header"></div>

    <div class="content-wrapper">

        <!--Formulaire-->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 my-4">

                        <div class="card card-info">
                            <div class="card-header">
                                <h3 class="card-title">Nouveau Vente</h3>
                            </div>
                            <form class="form-horizontal" method="POST" th:action="@{/vente/add}"
                                  th:object="${vente}">
                                <div class="card-body">
                                    <input class="form-control" th:field="*{id}" type="hidden"/>

                                    <div class="form-group row">
                                        <label class="control-label col-md-2">Remise</label>
                                        <div class="col-md-10">
                                            <input class="form-control" th:field="*{remise}" type="number"/>
                                            <span class="text-danger" th:errors="*{remise}"></span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="control-label col-md-2" for="sel1">Type</label>
                                        <div class="col-md-10">
                                            <select class="form-control select2bs4" id="sel1" th:field="*{typeVente}">
                                                <option th:text="DETAILS" th:value="DETAILS"></option>
                                                <option th:text="ENGROS" th:value="ENGROS"></option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="control-label col-md-2">Magasin</label>
                                        <div class="col-md-10">
                                            <select class="form-control select2bs4" th:field="*{magasin.id}">
                                                <option th:each="magasin:${magasins}"
                                                        th:text="${magasin.nom}+' '+${magasin.adresse}"
                                                        th:value="${magasin.id}"></option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="control-label col-md-2">Produit</label>
                                        <div class="col-md-10">
                                            <button class="btn btn-info" data-target="#myModal" data-toggle="modal"
                                                    type="button">
                                                Produits
                                            </button>
                                            <div class="modal fade" id="myModal" role="dialog">
                                                <div class="modal-dialog modal-lg">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h4 class="modal-title">Ajout Prouit</h4>
                                                            <button aria-label="Close" class="close" data-dismiss="modal"
                                                                    type="button">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="card card-info">
                                                                <div class="card-body">
                                                                    <div class="text-right">
                                                                        <a class="btn btn-info" id="plus">+
                                                                        </a>
                                                                    </div>
                                                                    <table class="table table-striped" id="tbl">
                                                                        <thead>
                                                                        <tr>
                                                                            <th>Quantite</th>
                                                                            <th>Prix</th>
                                                                            <th>Type</th>
                                                                            <th>Produit</th>
                                                                        </tr>
                                                                        </thead>
                                                                        <tbody id="tableProd">
                                                                        <tr id="line">
                                                                            <td><input class="form-control"
                                                                                       name="io_produits.io_produit.quantite"
                                                                                       type="number"/>
                                                                            </td>
                                                                            <td><input class="form-control"
                                                                                       name="io_produits.io_produit.prix"
                                                                                       type="number"/>
                                                                            </td>
                                                                            <td><input class="form-control"
                                                                                       name="io_produits.io_produit.type"
                                                                                       type="text"/>
                                                                            </td>
                                                                            <td>
                                                                                <div class="form-group row text-left">
                                                                                    <select class="form-control select2bs4"
                                                                                            id="sel5"
                                                                                            name="io_produits.io_produit.produit">
                                                                                        <option th:each="produit:${produits}"
                                                                                                th:text="${produit.categorie.nom}+' '+${produit.nom}"
                                                                                                th:value="${produit.id}"></option>
                                                                                    </select></div>
                                                                            </td>
                                                                        </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer justify-content-between">
                                                            <button class="btn btn-default" data-dismiss="modal"
                                                                    type="button">Close
                                                            </button>
                                                            <button class="btn btn-info" type="button">Save changes
                                                            </button>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <input name="user.id" th:value="${userId}" type="hidden"/>

                                </div>
                                <div class="card-footer text-center">
                                    <button class="btn btn-info" type="submit"><i class="fas fa-save"></i> Enregistre</button>
                                    <button class="btn btn-outline-danger" type="button"><i
                                            class="fa fa-cancel"></i> <a th:href="@{/}">Annuler</a>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div th:replace="fragment/footer"></div>

</div>
</body>
<script th:replace="fragment/script"></script>
</html>