<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <title>Vente</title>
</head>
<body>
<div th:include="header.html"></div>
<div class="col-md-6 col-md-offset-3">
    <div class="panel panel-info">
        <div class="panel-heading">
            <tr>
                <td th:text="'Date : '+${vente.date}"></td>
                <td th:text="'Montant : '+${vente.montant}+' F CFA'"></td>
                <td th:text="'Remise : '+${vente.remise}+' F CFA'"></td>

            </tr>
        </div>
        <div class="panel-body">
            <div class="col-md-10 col-md-offset-1">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Designation</th>
                        <th>Quantite</th>
                        <th>Prix</th>
                        <th>Montant</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr th:each="io_p : ${ vente.io_produits }">
                        <td th:text="${ io_p.quantite }"></td>
                        <td th:text="${ io_p.produit.prix }"></td>
                        <td th:text="${${ io_p.produit.prix }*${ io_p.produit.prix }}"></td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>
</body>
</html>