<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <title>Nouvelle Approvision</title>
    <th:block th:replace="fragment/style.html"></th:block>

</head>
<body class="hold-transition sidebar-mini  layout-fixed layout-navbar-fixed ">
<div class="wrapper">
    <div th:replace="fragment/header"></div>

    <div class="content-wrapper">

        <!--Formulaire-->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 my-4">

                        <div class="card card-info">
                            <div class="card-header">
                                <h3 class="card-title">Nouvelle Approvision</h3>
                            </div>
                            <form class="form-horizontal"  method="POST" th:action="@{/approvision/add}"
                                  th:object="${approvision}">
                                <div class="card-body">
                                    <input th:field="*{id}" type="hidden"/>

                                    <div class="form-group row">
                                        <label class="control-label col-md-2">Produits</label>
                                        <div class="col-md-10">
                                            <div class="panel panel-info">
                                                <div class="panel-body">
                                                    <table class="table table-striped">
                                                        <thead>
                                                        <tr>
                                                            <th>Produit</th>
                                                            <th>Quantite</th>
                                                            <th>Prix</th>
                                                            <th>Type
                                                                <input class="btn btn-xs btn-info ml-5" id="addBtn"
                                                                       type="button" value="Nouveau">
                                                            </th>

                                                        </tr>
                                                        </thead>
                                                        <tbody id="tbody">
                                                        <tr>
                                                            <td><input class="form-control"
                                                                       name="io_produits[0].produit.codeBarre1"
                                                                       placeholder="Sacnner le produit" required
                                                                       type="text" autofocus/></td>
                                                            <td><input class="form-control"
                                                                       name="io_produits[0].quantite"
                                                                       placeholder="Entrer la quantite" required
                                                                       type="number"/></td>
                                                            <td><input class="form-control"
                                                                       name="io_produits[0].prix"
                                                                       placeholder="Entrer le prix d'achat par unite de type"
                                                                       required
                                                                       type="number"/>
                                                            </td>
                                                            <td><input class="form-control"
                                                                       name="io_produits[0].type"
                                                                       placeholder="Bidon, Boite, Sac ... " required
                                                                       type="text"/></td>

                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="control-label col-md-2">Statut</label>
                                        <div class="col-md-10">
                                            <select class="form-control select2bs4" th:field="*{statutApprovision}">
                                                <option th:text="REGLER" th:value="REGLER"></option>
                                                <option th:text="NON_REGLER" th:value="NON_REGLER"></option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="control-label col-md-2">Montant Payé<span
                                                class="text-danger">*</span></label>
                                        <div class="col-md-10">
                                            <input class="form-control" required th:field="*{montantPaye}"
                                                   type="number"/>
                                            <span class="text-danger" th:errors="*{montantPaye}"></span>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="control-label col-md-2">Magasin</label>
                                        <div class="col-md-10">
                                            <select class="form-control select2bs4" th:field="*{magasin.id}">
                                                <option th:each="magasin:${magasins}"
                                                        th:text="${magasin.nom}+' '+${magasin.adresse}"
                                                        th:value="${magasin.id}"></option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="control-label col-md-2">Client Fournisseur</label>
                                        <div class="col-md-10">
                                            <select class="form-control select2bs4" th:field="*{personne.id}">
                                                <option th:each="personne:${personnes}"
                                                        th:text="${personne.prenom}+' '+${personne.nom}"
                                                        th:value="${personne.id}"></option>
                                            </select>
                                        </div>
                                    </div>

                                    <input name="user.id" th:value="${userId}" type="hidden"/>

                                </div>

                                <div class="card-footer text-center">
                                    <button class="btn btn-info" type="submit">
                                        <i class="fas fa-save"></i> Enregistre
                                    </button>
                                    <button class="btn btn-outline-danger" type="button"><i
                                            class="fa fa-cancel"></i> <a th:href="@{/}">Annuler</a>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div th:replace="fragment/footer"></div>

</div>
</body>
<script th:replace="fragment/script"></script>
</html>