<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <style th:replace="fragment/style"></style>

    <title>Details Approvision</title>

</head>
<body class="hold-transition sidebar-mini  layout-fixed layout-navbar-fixed ">
<div class="wrapper">
    <div th:replace="fragment/navbar-horizontal"></div>
    <div th:replace="fragment/navbar-vertical"></div>

    <div class="content-wrapper">

        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-8 offset-2 my-2">

                        <div class="card card-info">

                            <div class="card-header">
                                <div class="card-title">
                                    <i th:text="${#temporals.format(date, 'E dd MMM yyyy')}"
                                       th:with="date=${approvision.date}"></i>
                                    <i th:text="${#temporals.format(heure, 'HH:mm:ss')}"
                                       th:with="heure=${approvision.heure}"></i>

                                    <i th:text="'Montant Paye : '+${#numbers.formatInteger(total,3,'POINT')}+' F CFA'"
                                       th:with="total=${approvision.montantPaye}"
                                    ></i>
                                </div>
                                <div class="card-tools">
                                    <h6 th:text="'Total : '+${#numbers.formatInteger(total,3,'POINT')}+' F CFA'"
                                        th:with="total=${approvision.montantTotal}"></h6>
                                </div>
                            </div>
                            <div class="card-body table-responsive p-0">
                                <table class="table table-sm table-hover text-nowrap table-striped">
                                    <thead>
                                    <tr>
                                        <th>Designation</th>
                                        <th>Quantite</th>
                                        <th>Prix</th>
                                        <th>Montant</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    <tr th:each="io_p : ${ approvision.io_produits }">
                                        <td th:text="${ io_p.produit.nom }"></td>
                                        <td th:text="${ io_p.quantite }"></td>
                                        <td th:text="${#numbers.formatInteger(prix,3,'POINT')}+' F CFA'"
                                            th:with="prix = ${ io_p.prix }"></td>
                                        <td th:text="${#numbers.formatInteger(montant,3,'POINT')}+' F CFA'"
                                            th:with="prix=${ io_p.prix },
                                        quantite=${ io_p.quantite }, montant=${prix * quantite} "></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="card-footer text-center">
                                <button class="btn btn-outline-danger" type="button"><i
                                        class="fas fa-cancel"></i> <a th:href="${#httpServletRequest.requestURI==urlCurrent}
                                        ?@{/approvision/liste}:@{/approvision/add}"
                                                                      th:with="urlCurrent=@{/approvision/info}">Retour</a>
                                </button>
                            </div>
                            <!-- /.card-body -->
                        </div>
                    </div>
                    <!-- /.card -->
                </div>
            </div>

        </section>


    </div>

    <div th:replace="fragment/footer"></div>
</div>
</div>
</div>
</body>
<script th:replace="fragment/script"></script>
</html>